@import url(sanitize.css);

p {
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.first_content {
  background-color: #fff;
  width: 600px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}

.control {
  margin-top: 30px;
}

input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  width: 100%;
  padding: 8px;
}

button {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-top: 30px;
}

.required{
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

body {
  background-color: #fafafa;
}

label {
  display: block;
  margin-bottom: 20px;
}

.second_content {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
  color: #666;
  width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin: 0 auto;
}

header {
  background-color: #422814;
  padding: 10px;
  color: #fff;
}

header > h1 {
  font-weight: normal;
  text-align: center;
}